body{
    background: url('../public/uploads/medications_bg.PNG') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.home_wrapper{
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_wrapper h1{
    font-family: 'Courier New', Courier, monospace; 
    white-space: pre; 
    display: inline-block;
    color: white;
}
.letter {
    display: inline-block;
    width: 1ch;
    text-align: center;
}

.home_wrapper div{
    width: 25%;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 6rem;
}

.home_wrapper button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: #36A2EB;
    color: #333;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.home_wrapper button:hover{
    cursor: pointer;
    background-color: #4DA1FF;
    color: #000;
}